body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0
    margin 0;
    padding: 0;
}

    main {

        padding: 40px;
        text-align: center;
        background-color: white;
        margin: 20px auto;
        width: 60%;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        
        }
        h1 {
        
        margin: 0;
        }
        
        p {
        font-size: 18px;
        color: #333;
        }